nav {
    background-color: #4D11D7;
}

.test {
    background-color: #4D11D7;
    color: yellow;
    border: 2px solid yellow;
    box-shadow: 0px 0px 2px yellow;
    
}

.myNav {
    padding: 25px 10%;
}

#logo {
    width: 300px;
    height: auto;
}